In [1]:
print('Hello World')

Hello World

In [2]:
print('Python Programming')
print('Easy Learning')

Python Programming
Easy Learning

In [5]:
#printing the 2 lines using end=' '
print('Python Programming',end=' ')
print('Easy Learning')

Python Programming Easy Learning

In [6]:
#printing the 2 lines using end=' || '
print('Python Programming',end=' || ')
print('Easy Learning')

Python Programming || Easy Learning

In [7]:
#printing the 2 lines using comma
print('Python Programming','Easy Learning')

Python Programming Easy Learning

In [8]:
#printing the 2 lines using plus
print('Python Programming,'+'Easy Learning')

Python Programming,Easy Learning

In [12]:
print(5 *'\nPython Programming')

Python Programming
Python Programming
Python Programming
Python Programming
Python Programming

# Variables

In [16]:
x=123456
print(x)
print(type(x))

123456
<class 'int'>

In [18]:
x2=874926563427562845
print(x2,type(x2))

874926563427562845 <class 'int'>

In [19]:
a=123.543
print(a,type(a))

123.543 <class 'float'>

In [20]:
a='vamshi'
print(a,type(a))

vamshi <class 'str'>

In [21]:
b='hello vamshi'
print(b,type(b))

hello vamshi <class 'str'>

In [22]:
a="vamshi"
print(a,type(a))

vamshi <class 'str'>

In [23]:
b="hello vamshi"
print(b,type(b))

hello vamshi <class 'str'>

In [24]:
b1 = True
print(b1,type(b1))

True <class 'bool'>

In [26]:
b2 = False
print(b2,type(b2))

False <class 'bool'>

## Input Function in Python

In [29]:
name= input('Enter ur name : ')
print('Your Name is', name)

Enter ur name : vamshi
Your Name is vamshi

In [30]:
print('Enter ur name')
name=input()
print('Your name is',name)

Enter ur name
vamshi
Your name is vamshi

In [31]:
name=input()
print('Your name is',name)

vamshi
Your name is vamshi

In [33]:
num=input()
print('Your num is',num)
print(type(num))
num=num*10
print('Updated number is',num)

3
Your num is 3
<class 'str'>
Updated number is 3333333333

In [34]:
num=int(input())
print('Your num is',num)
print(type(num))
num=num*10
print('Updated number is',num)

3
Your num is 3
<class 'int'>
Updated number is 30

In [37]:
num=input()
print('Your num is',num)
print(type(num))
print('After Converting')
num=int(num)
print(type(num))
num=num*10
print('Updated number is',num)

3
Your num is 3
<class 'str'>
After Converting
<class 'int'>
Updated number is 30

In [38]:
# boolean to string
a=True
print(type(a))
a=str(a)
print(type(a))

<class 'bool'>
<class 'str'>

In [39]:
#boolean to int
n=True
print(type(n))
i=int(n)
print(type(i))
print(i)

<class 'bool'>
<class 'int'>
1

In [40]:
#boolean to float
n=True
print(type(n))
i=float(n)
print(type(i))
print(i)

<class 'bool'>
<class 'float'>
1.0

## Operators in Python

In [46]:
# Arthe operators
a=10
b=3
print('a+b',a+b)
print('a-b',a-b)
print('a*b',a*b)
print('a/b',a/b)
print('a%b',a%b)
print('a**b',a**b)
print('a//b',a//b)

a+b 13
a-b 7
a*b 30
a/b 3.3333333333333335
a%b 1
a**b 1000
a//b 3

In [47]:
#Arthe  and Assignment
a=10
b=3
a+=b
print('a=',a,'b=',b)
a-=b
print('a=',a,'b=',b)
a*=b
print('a=',a,'b=',b)
a/=b
print('a=',a,'b=',b)
a%=b
print('a=',a,'b=',b)

a= 13 b= 3
a= 10 b= 3
a= 30 b= 3
a= 10.0 b= 3
a= 1.0 b= 3

In [48]:
round(13/3, 3)

4.333

In [49]:
print(a<b)

True