In [1]:
contacts={}

In [4]:
def insert_contacts(name,phone):
    if name not in contacts:
        contacts[name]=phone
        return "Contact added"
    return "Contact already exists"
insert_contacts('Vamshi',9110528066)

'Contact added'

In [5]:
def updated_contacts(name,phone):
    if name in contacts:
        contacts[name]=phone
        return "Contact is updated"
    return "Contact is not found"
updated_contacts('Vamshi',9110528066)

'Contact is updated'

In [6]:
contacts

{'Vamshi': 9110528066}

In [11]:
def merge_contact(new_dict):
    n=len(new_dict)
    if n>0:
        contacts.update(new_dict)
        return str(len(new_dict)) + "Contact merged"
    return "No contacts are there for merged"
new_dict={'Manoj':'4726675236','Surya':'749265827','Mahesh':'728346712'}
merge_contact(new_dict)

'3Contact merged'

In [12]:
contacts

{'Vamshi': 9110528066,
 'Manoj': '4726675236',
 'Surya': '749265827',
 'Mahesh': '728346712'}

## Python Lambda Functions

In [14]:
def square(x):
    return x*x
square(2)

4

In [15]:
res_lambda=lambda x: x*x
res_lambda(4)

16

In [16]:
def multiple(x,y):
    return x*y
multiple(10,20)

200

In [18]:
mul_lambda = lambda x,y:x*y
mul_lambda(10,2)

20

In [1]:
li=[1,2,3,4,5,6,7,8,9,10]
res_even_list=list(filter(lambda x: (x%2==0),li))
res_even_list

[2, 4, 6, 8, 10]

In [2]:
li=[19,1,25,69,32,55,66,155]
x1=list(filter(lambda x: (x>60),li))
x1

[69, 66, 155]

In [25]:
def add_ten(li):
    for i in range(len(li)):
        li[i]=li[i]+10
    return li
add_ten(li)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [3]:
li=[19,1,25,69,32,55,66,155]
res_map=list(map(lambda x:x+10,li))
res_map

[29, 11, 35, 79, 42, 65, 76, 165]

In [4]:
def add_list_values(li):
    s=0
    for i in range(len(li)):
        s=s+li[i]
    return s
li=[19,1,25,69,32,55,66,155]
add_list_values(li)

422

In [5]:
from functools import reduce
res_reduce=reduce((lambda x,y:x+y),li)
res_reduce

422

In [6]:
def find_large_li(li):
    large=li[0]
    for i in range(len(li)):
        if large<li[i]:
            large=li[i]
    return large
li=[19,1,255,169,352,55,66,155]
find_large_li(li)

352

In [7]:
res_reduce1=reduce(lambda a,b:a if a>b else b,li)
res_reduce1

352

In [8]:
x=10
y=20
if x>y:
    print(x)
else:
    print(y)

20

In [9]:
x if x>y else y

20

In [10]:
x=100
y=20
if x>y and x>30:
    print(x)
else:
    print(y)

100