In [1]:
for i in range(5):
    for j in range(5):
        print(i,j)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4

In [4]:
for i in range(-10,0):
    print(i,end=" ")

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1

## Tuples

In [7]:
t1=(1,2,3,4,5)
print(t1)
print(type(t1))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [8]:
t1[0:]

(1, 2, 3, 4, 5)

In [9]:
t1[:4]

(1, 2, 3, 4)

In [10]:
t1[1:5]

(2, 3, 4, 5)

In [11]:
for i in range(len(t1)):
    print(t1[i],end=" ")

1 2 3 4 5

In [12]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [13]:
t1[::-1]

(5, 4, 3, 2, 1)

In [14]:
t1[::1]

(1, 2, 3, 4, 5)

In [15]:
t1[0]=2020

TypeError: 'tuple' object does not support item assignment

In [17]:
t1.insert(5,9)
t1

AttributeError: 'tuple' object has no attribute 'insert'

# Dictionaries

In [19]:
d1={1:"Vamshi",2:"Manoj",3:"Surya",4:"Mahesh",5:"Nikhil"}
d1

{1: 'Vamshi', 2: 'Manoj', 3: 'Surya', 4: 'Mahesh', 5: 'Nikhil'}

In [20]:
d1.keys()

dict_keys([1, 2, 3, 4, 5])

In [21]:
d1.values()

dict_values(['Vamshi', 'Manoj', 'Surya', 'Mahesh', 'Nikhil'])

In [26]:
d1[1]="kalyan"

In [29]:
del d1["Vamshi"]

In [30]:
d1

{1: 'kalyan', 2: 'Manoj', 3: 'Surya', 4: 'Mahesh', 5: 'Nikhil', '1': 'kalyan'}

In [31]:
del d1[1]

In [32]:
d1

{2: 'Manoj', 3: 'Surya', 4: 'Mahesh', 5: 'Nikhil', '1': 'kalyan'}

In [33]:
d1[1]="kalyan"

In [34]:
d1

{2: 'Manoj', 3: 'Surya', 4: 'Mahesh', 5: 'Nikhil', '1': 'kalyan', 1: 'kalyan'}

In [41]:
d1

{2: 'Manoj', 3: 'Surya', 4: 'Mahesh', 5: 'Nikhil', '1': 'kalyan'}

In [43]:
del d1["1"]

In [44]:
d1

{2: 'Manoj', 3: 'Surya', 4: 'Mahesh', 5: 'Nikhil'}

In [ ]:
contacts={}

In [51]:
def savecontact(name,phone):
    if name not in contacts:
        contacts[name]=phone
        return "Contact Saved Successfully"
    return "Contact is already there"

In [54]:
name=input()
phone=input()
savecontact(name,phone)

Vamshi
9110528066

'Contact is already there'

In [53]:
contacts

{'Vamshi': '9110528066', 'Vamshi Krishna ': '9110528066'}

In [57]:
## Search Contacts
def searchcontact(name):
    if name in contacts:
        return contacts[name]
    return "Contact name not exists"
name=input()
searchcontact(name)

Vamshi

'9110528066'