## Sets in Python

In [11]:
s1={1,3,4,5}
s1

{1, 3, 4, 5}

In [2]:
print(type(s1))

<class 'set'>

In [3]:
type(s1)

set

In [12]:
for i in range(len(s1)):
    print(i+1,end=" ")

1 2 3 4

In [13]:
for i in s1:
    print(i,end=" ")

1 3 4 5

In [14]:
s2={1,2,2,3,4,4,4,6,4,3,3,5,3,3,5,6,7,6,6,}
s2

{1, 2, 3, 4, 5, 6, 7}

In [15]:
days_li=['Monday','Tuesday','Wednesday','Thursday']
days_set=set(days_li)
days_set

{'Monday', 'Thursday', 'Tuesday', 'Wednesday'}

## Methods in Sets

In [16]:
days_set.add('Friday')
days_set

{'Friday', 'Monday', 'Thursday', 'Tuesday', 'Wednesday'}

In [19]:
days_set.remove('Monday')
days_set

{'Friday', 'Thursday', 'Tuesday', 'Wednesday'}

In [20]:
days_set.update(['Saturday','Sunday'])
days_set

{'Friday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday'}

In [21]:
days_set.pop()
days_set

{'Friday', 'Saturday', 'Thursday', 'Tuesday', 'Wednesday'}

## Strings in Python

In [22]:
s1='a'
print(s1,type(s1))

a <class 'str'>

In [23]:
s2='application'
print(s2)

application

In [24]:
for i in range(len(s2)):
    print(s2[i],end=" ")

a p p l i c a t i o n

In [25]:
s2[0:]

'application'

In [26]:
s2[:11]

'application'

In [27]:
s2[:]

'application'

In [28]:
s2[3:10]

'licatio'

In [30]:
s2[0]='a'

TypeError: 'str' object does not support item assignment

In [33]:
del s2

In [34]:
s2

NameError: name 's2' is not defined

## String functions in python

In [35]:
## Captilaize
name="vamshi"
name.capitalize()

'Vamshi'

In [36]:
##casefold
stringexample="I aM a StUdEnT"
stringexample.casefold()

'i am a student'

In [37]:
stringi="hello jonam ramuk"
stringi.title()

'Hello Jonam Ramuk'

In [39]:
x=stringi.find('jonam')
x

6

In [40]:
## replace fuction
s1="I am a python developer"
x=s1.replace('python','Data Science')
x

'I am a Data Science developer'

In [41]:
x=s1.startswith("I")
x

True

In [42]:
x=s1.startswith("i")
x

False

In [43]:
x=s1.endswith("r")
x

True

In [44]:
x=s1.startswith("R")
x

False

In [45]:
li=['Anil','Anand','Surya','Sunayana','Sharvani','Saro']
for i in range(len(li)):
    if li[i].startswith("S"):
        print(li[i])

Surya
Sunayana
Sharvani
Saro

In [46]:
##split function
s1.split()

['I', 'am', 'a', 'python', 'developer']

In [47]:
s1.split('a')

['I ', 'm ', ' python developer']

In [48]:
s1

'I am a python developer'